<div class="row">
  <div *ngFor="let col of cols" >

<div class="col-sm-6" >

  <mat-form-field class="date-picker" *ngIf="isDateType(col)">
          <input matInput
          [disabled]="isDisabled(col)"
          [matDatepicker]="picker"
          [min]="getMinDate(col)"
          [max]="getMaxDate(col)"
           [(ngModel)]="selModel[col.field]"
           (dateChange)="changeDate(col.field,$event)"
           placeholder="{{col.placeholder}}" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<div class="col-md-6" *ngIf="isStringType(col)" >
  <mat-form-field *ngIf="isStringType(col)">
        <input matInput
         placeholder="{{col.placeholder}}"
         [(ngModel)]="selModel[col.field]"
        >
    </mat-form-field>
  </div>


  <div class="col-md-9" >

<mat-form-field *ngIf="isDropDown(col)">
          <mat-label>{{col.placeholder}}</mat-label>
          <mat-select [(ngModel)]="selModel[col.field]">
            <mat-option *ngFor="let option of col.options | sortBy:'value':'asc'" [value]="option.value"> {{ option.viewValue }} </mat-option>
          </mat-select>
</mat-form-field>
</div>

<div class="col-md-9" *ngIf="isSlider(col)">
<span>{{col.header}}</span>
<mat-slider class="example-margin"
          [disabled]="disabled"
          [invert]="invert"
          [max]="col.max"
          [min]="col.min"
          [step]="step"
          [thumbLabel]="thumbLabel"
          [tickInterval]="tickInterval"
          [(ngModel)]="selModel[col.field]"
          >
         {{col.header}}
  </mat-slider>
</div>
</div>
</div>
